@font-face {
    font-family: 'Lane-Narrow';
    src: url('../fonts/Lane-Narrow.eot');
    src: url('../fonts/Lane-Narrow.eot?#iefix') format('embedded-opentype'), url('../fonts/Lane-Narrow.woff2') format('woff2'), url('../fonts/Lane-Narrow.woff') format('woff'), url('../fonts/Lane-Narrow.ttf') format('truetype'), url('../fonts/Lane-Narrow.otf') format('opentype'), url('../fonts/Lane-Narrow.svg#Lane-Narrow') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family: 'Edo';
    src: url('../fonts/Edo.eot');
    src: url('../fonts/Edo.eot?#iefix') format('embedded-opentype'), url('../fonts/Edo.woff2') format('woff2'), url('../fonts/Edo.woff') format('woff'), url('../fonts/Edo.ttf') format('truetype'), url('../fonts/Edo.otf') format('opentype'), url('../fonts/Edo.svg#Edo') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F002;
}

html,
body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Lane-Narrow', sans-serif;
    font-size: 36px;
    color: #444;
}

h2 {
    font-family: 'Lane-Narrow', sans-serif;
    font-size: 30px;
    color: #444;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #444;
    margin-bottom: 10px;
}


/** HEADER **/

header {
    background-color: #74bedd;
    border-radius: 0;
    border: 0;
}

.phone-img {
    width: 50px;
    height: 50px;
}

.tel {
    font-family: 'Roboto' sans-serif;
    font-size: 36px;
    color: #444;
}

#logo-name {
    font-family: 'Edo', sans-serif;
    font-size: 36px;
    text-align: right;
}

#logo-img {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 300px;
    height: 300px;
}

#logo-since {
    font-family: 'Edo', sans-serif;
    font-size: 30px;
    text-align: right;
}


/*END HEADER*/

#introduction {
    font-family: 'Roboto Condensed' sans-serif;
    font-size: 22px;
    text-align: center;
    color: #444;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #666;
    list-style-type: none
}

#testimonial {
    text-align: center;
}

.testimonial-description {
    font-family: 'Roboto', sans-serif;
    color: #666;
    text-align: left;
}

.testimonial-name {
    font-family: 'Roboto', sans-serif;
    color: #666;
    text-align: right;
}

.testimonial-place {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #666;
    text-align: right;
}

#gallery {
    padding: 0;
    height: 340px;
    overflow: hidden;
    width: 200%;
}

#gallery>img {
    height: 300px;
    margin: 20px 0 20px 20px;
}

.container {
    padding: 40px;
    margin: 0;
}


/*MAIN CONTENT BG*/

#introduction {
    background-color: #cadb71;
}

#services {
    background: url('../img/ladderc.jpg') no-repeat beige;
}

#testimonial {
    background-color: #cadb71;
}

#gallery {
    background-color: #f9c316;
}


/*MAIN CONTENT BG END*/


/*FOOTER*/

footer {
    background-color: #74bedd;
    color: #333;
    text-align: center;
}


/*END FOOTER*/