@font-face {
    font-family: 'Lane-Narrow';
    src: url('../fonts/Lane-Narrow.eot');
    src: url('../fonts/Lane-Narrow.eot?#iefix') format('embedded-opentype'), url('../fonts/Lane-Narrow.woff2') format('woff2'), url('../fonts/Lane-Narrow.woff') format('woff'), url('../fonts/Lane-Narrow.ttf') format('truetype'), url('../fonts/Lane-Narrow.otf') format('opentype'), url('../fonts/Lane-Narrow.svg#Lane-Narrow') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family: 'Edo';
    src: url('../fonts/Edo.eot');
    src: url('../fonts/Edo.eot?#iefix') format('embedded-opentype'), url('../fonts/Edo.woff2') format('woff2'), url('../fonts/Edo.woff') format('woff'), url('../fonts/Edo.ttf') format('truetype'), url('../fonts/Edo.otf') format('opentype'), url('../fonts/Edo.svg#Edo') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F002;
}

html,
body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: #74bedd;
}

a {
    text-decoration: none;
    color: #005A9C;
}

h1 {
    font-family: 'Lane-Narrow', sans-serif;
    font-size: 36px;
    color: #444;
    padding-left: 20px;
}

h2 {
    font-family: 'Lane-Narrow', sans-serif;
    font-size: 30px;
    color: #444;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #444;
    margin-top: 32px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.container {
    padding: 80px;
    margin: 0;
}


/** HEADER **/

header {
    background-color: #74bedd;
    border-radius: 0;
    border: 0;
    padding-bottom: 140px !important;
}

#fixed-header {
    position: fixed;
    background-color: #74bedd;
    width: 100%;
    height: 62px;
    top: 0;
    left: 0;
    z-index: 9;
}

header>h1 {
    margin-top: 0;
}

#top-phone {
    position: fixed;
    top: 147px;
    z-index: 9;
    padding-left: 20px;
}

.phone-img {
    width: 20px;
    margin-right: 12px;
}

.tel {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #444;
}

#logo-name {
    font-family: 'Edo', sans-serif;
    font-size: 30px;
    top: 10px;
    right: 40px;
    position: fixed;
    z-index: 9;
}

#stroke {
    position: absolute;
    right: 80px;
    top: 45px;
    width: 126px;
    clip: rect(0px, 126px, 0px, 0px);
    transform: rotate(-1deg);
}

#logo-img {
    top: 20px;
    right: 40px;
    width: 250px;
    height: 250px;
    position: absolute;
}

#logo-since {
    font-family: 'Edo', sans-serif;
    font-size: 26px;
    top: 230px;
    right: 110px;
    position: absolute;
    color: #444;
    margin-bottom: 10px;
}


/*END HEADER*/

#introduction {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #444;
    background-color: #cadb71;
    padding: 80px 25vw 80px 25vw;
}

#services {
    background: url('../img/ladder.jpg') no-repeat center top beige;
}

#services-title {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 20px;
}

ul {
    padding-left: 40px;
    margin-top: 10px;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #666;
    list-style-type: none
}

.row {
    width: 100%;
    height: 590px;
    display: flex;
}

.column1 {
    flex: 2 1 100px;
}

.column2 {
    flex: 5 2;
}

#gallery {
    padding: 0;
    height: 440px;
    overflow: hidden;
    width: 400%;
    background-color: #f9c316;
}

#gallery>img {
    height: 400px;
    margin: 20px 0 20px 20px;
}

#testimonial {
    text-align: center;
    background-color: #cadb71;
    padding: 60px 25vw 50px 25vw;
}

.testimonial-description {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #666;
    text-align: left;
}

.testimonial-name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #666;
    text-align: right;
}

.testimonial-place {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666;
    text-align: right;
}

.circle {
    border: 1px solid #222;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px 5px 5px 5px;
}

.circle.active {
    background: #222;
}

#credits {
    padding-bottom: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
}


/*FOOTER*/

footer {
    background-color: #74bedd;
    color: #333;
    text-align: center;
    padding: 80px 25vw 80px 25vw !important;
}


/*END FOOTER*/