html,
body {
    font-size: 16px;
    color: #333;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    padding: 40px;
    margin: 0;
}


/** HEADER **/

header {
    background-color: #74bedd;
    border-radius: 0;
    border: 0;
}

.phone-img {
    width: 50px;
    height: 50px;
}

#logo-img {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 300px;
    height: 300px;
}


/*END HEADER*/


/*MAIN CONTENT*/

#introduction {
    background-color: #cadb71;
}

#services {
    background: url('../img/ladderc.jpg') no-repeat beige;
}

#testimonial {
    background-color: #cadb71;
}

#gallery {
    background-color: #f9c316;
}


/*FOOTER*/

footer {
    background-color: #74bedd;
    color: #333;
}


/*END FOOTER*/